
#marker_appended_for_custom_css {
    display: none
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif
}

.tab-link::after {
    font-family: Verdana, Arial, Helvetica, sans-serif
}

.tab-content ul>li::before {
    font-family: Verdana, Arial, Helvetica, sans-serif
}

.fts-twitter-reply:before,
.fts-comment-instagram:after,
.fts-mashup-post-wrap.fts-feed-type-facebook .fts-jal-fb-see-more:before {
    font-family: Verdana, Arial, Helvetica, sans-serif !important
}

.bg-cover {
    height: unset
}

header.scrolled {
    background-color: rgba(24, 38, 43, 0.8)
}

header .navbar {
    padding-top: 30px
}

header .banner_header {
    background-color: rgba(52, 142, 52, 0.85);
    background-color: unset;
    background-color: black
}

header.scrolled .banner_header {
    background-color: unset
}

footer .footer-bottom {
    padding: 10px 0 0 0
}

#banner_footer {
    background: #142024;
    width: 100%;
    text-align: center;
    z-index: 99999;
    display: block
}

.banner_header_text,
.banner_footer_text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: darkseagreen;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 2;
}


.banner_header_text a,
.banner_footer_text a {
    color: rgb(188, 238, 188);
    text-decoration: none;
}

.banner_header_text a:hover,
.banner_header_text a:focus,
.banner_footer_text a:hover,
.banner_footer_text a:focus {
    color: white;
    text-decoration: none;
}

.banner_header_text {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20%;
    padding-right: 20%
}

.banner_footer_text {
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 20%;
    padding-right: 20%
}




.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: none
}

#unpowered-social-media-footer {
    text-align: center;
    font-size: 0.8rem
}

#unpowered-social-media-footer a {
    margin-left: 1rem;
    margin-right: 1rem
}

.cmms_cookie_consent_manager {
    display: none
}

.icon {
    display: inline-block;
    height: 1.6rem;
    background-size: cover;
    filter: brightness(55%) contrast(97%);
    filter: brightness(45%) sepia(100%) saturate(100%) hue-rotate(77deg);
    padding: 0 1vw
}

.icon-twitter:hover,
.icon-twitter:focus,
.icon-facebook:hover,
.icon-facebook:focus,
.icon-linkedin:hover,
.icon-linkedin:focus,
.icon-instagram:hover,
.icon-instagram:focus,
.icon-mailto:hover,
.icon-mailto:focus {
    filter: brightness(104%)
}

.percircle {
    display: inline-block;
    width: 3rem;
    height: auto;
    background-size: cover;
    margin: 10px 10px;
    font-size: 0.6rem;
}

.button {
    /* border: 0px solid transparent; */
    border: 2px solid #00a5e7;
}

.svg-leaf {
    display: inline-block;
    height: 1.2rem;
    filter: brightness(45%) sepia(100%) saturate(100%) hue-rotate(77deg);
    background-size: cover;
    padding: 0 7;
    fill: green;
}

/* hero hide arrows nav */
.hero-swiper .owl-nav {
    display: none !important;
}

.same_page_link:hover,
.same_page_link:focus {
    filter: brightness(104%)
}

footer .navbar-nav li:not(:first-child) a {
    color: rgb(123, 159, 123);
}

footer .footer-bottom {
	padding: 20px 0 0 0;
}

/* remove ::before icon */

.icon-white {
    display: inline-block;
    height: 2.1rem;
    background-size: cover;
    padding: 0 0
}

.icon-white-smaller {
    display: inline-block;
    height: 1.2rem;
    background-size: cover;
    padding: 0 0.2vw
}


.fts-mashup-twitter-icon a:before {
    content: unset;
}